#### Boolean

In [1]:
print(10>9)

True

In [2]:
print(9==4)

False

In [3]:
print(4<8)

True

Note: 1.Any string is True, except empty strings.

      2.Any number is True, except 0.

      3.Any list, tuple, set, and dictionary are True, except empty ones.

In [9]:
print(bool())

False

In [10]:
bool(0)

False

In [11]:
bool('')

False

In [12]:
bool([])

False

In [13]:
bool(())

False

In [15]:
bool({})

False

#### isinstance
The isinstance() function returns True if the specified object is of the specified type, otherwise False . If the type parameter is a tuple, this function will return True if the object is one of the types in the tuple

In [17]:
x=40
print(isinstance(x,int))

True

In [18]:
print(isinstance(x,str))

False

### Lists
Lists are used to stores multiple items in a single variable
List items are ordered, changeable, and allow duplicate values.

In [142]:
myfriends=['Suresh','Sai','Paremesh','Chaitanya','Purna','Reddy']
print(myfriends)

['Suresh', 'Sai', 'Paremesh', 'Chaitanya', 'Purna', 'Reddy']

In [58]:
len(myfriends)

6

In [59]:
type(myfriends)

list

In [60]:
rollnum=list((590,566,551,513,558,528))

In [61]:
print(rollnum)

[590, 566, 551, 513, 558, 528]

In [62]:
type(rollnum)

list

In [71]:
print(rollnum[1])
print(rollnum[0])
print(rollnum[-1])
print(rollnum[1:])
print(rollnum[:2])
print(rollnum[1:3])
print(rollnum[:-1])

566
590
528
[566, 551, 513, 558, 528]
[590, 566]
[566, 551]
[590, 566, 551, 513, 558]

In [73]:
for friends in myfriends:
    print(friends)

Suresh
Sai
Paremesh
chaitanya
Purna
Reddy

In [75]:
if 'Sai' in myfriends:
    print('Sai is my friend')

Sai is my friend

In [76]:
myfriends

['Suresh', 'Sai', 'Paremesh', 'chaitanya', 'Purna', 'Reddy']

In [78]:
myfriends[0]='suresh'
myfriends

['suresh', 'Sai', 'Paremesh', 'chaitanya', 'Purna', 'Reddy']

In [79]:
myfriends[:3]='loki'

In [85]:
myfriends

['Suresh', 'Sai', 'Paremesh', 'chaitanya', 'Purna', 'Reddy']

In [86]:
myfriends[1:2]=['lokesh']
print(myfriends)

['Suresh', 'lokesh', 'Paremesh', 'chaitanya', 'Purna', 'Reddy']

In [100]:
myfriends[1]='Sai'
print(myfriends)

['Suresh', 'Sai', 'chaitanya', 'Purna']

In [102]:
myfriends[2]='Paramesh'
print(myfriends)

['Suresh', 'Sai', 'Paramesh', 'Purna']

In [105]:
myfriends.insert(3,'Chaitanya')
myfriends.insert(-1,'Reddy')

In [106]:
myfriends

['Suresh', 'Sai', 'Paramesh', 'Chaitanya', 'Reddy', 'Purna']

In [107]:
myfriends.append('Lokesh')
print(myfriends)

['Suresh', 'Sai', 'Paramesh', 'Chaitanya', 'Reddy', 'Purna', 'Lokesh']

In [108]:
total=myfriends
total.extend(rollnum)
print(total)

['Suresh', 'Sai', 'Paramesh', 'Chaitanya', 'Reddy', 'Purna', 'Lokesh', 590, 566, 551, 513, 558, 528]

In [111]:
total.remove(590)
print(total)

['Suresh', 'Sai', 'Paramesh', 'Chaitanya', 'Reddy', 'Purna', 'Lokesh', 566, 551, 513, 558, 528]

In [112]:
total.pop()
print(total)

['Suresh', 'Sai', 'Paramesh', 'Chaitanya', 'Reddy', 'Purna', 'Lokesh', 566, 551, 513, 558]

In [113]:
del total[-1]
print(total)

['Suresh', 'Sai', 'Paramesh', 'Chaitanya', 'Reddy', 'Purna', 'Lokesh', 566, 551, 513]

In [114]:
total.clear()

In [115]:
print(total)

[]

In [116]:
del total

In [117]:
print(total)

NameError: name 'total' is not defined

In [118]:
for x in rollnum:
    print(x)

590
566
551
513
558
528

In [119]:
for x in range(len(rollnum)):
    print(rollnum[x])

590
566
551
513
558
528

In [120]:
i=0
while i<len(rollnum):
    print(rollnum[i])
    i=i+1

590
566
551
513
558
528

#### List Comprehension
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.          
syntax:  newlist = [expression for item in iterable if condition == True]

In [122]:
total=[]#Creating new list base on existing list
for i in rollnum:
    total.append(i)
print(total)

[590, 566, 551, 513, 558, 528]

In [123]:
del total

In [125]:
total=[x for x in rollnum]#$Creatin new list using list comprehension
print(total)

[590, 566, 551, 513, 558, 528]

In [127]:
num=[x for x in rollnum if x < 560]
print(num)

[551, 513, 558, 528]

In [131]:
n=[x for x in range(20)]
print(n)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [130]:
numbers=[x for x in range(0,20,3)]
print(numbers)

[0, 3, 6, 9, 12, 15, 18]

In [137]:
friends=[x.upper() for x in myfriends]
print(friends)

['SURESH', 'SAI', 'PAREMESH', 'CHAITANYA', 'PURNA', 'REDDY']

In [138]:
friends

['SURESH', 'SAI', 'PAREMESH', 'CHAITANYA', 'PURNA', 'REDDY']

In [139]:
friends=['Loki' for x in friends]
friends

['Loki', 'Loki', 'Loki', 'Loki', 'Loki', 'Loki']

In [143]:
myfriends.sort()
print(myfriends)

['Chaitanya', 'Paremesh', 'Purna', 'Reddy', 'Sai', 'Suresh']

In [145]:
myfriends.sort(reverse=True)
print(myfriends)

['Suresh', 'Sai', 'Reddy', 'Purna', 'Paremesh', 'Chaitanya']

In [146]:
rollnum.sort()
print(rollnum)

[513, 528, 551, 558, 566, 590]

In [147]:
rollnum.sort(reverse=True)
print(rollnum)

[590, 566, 558, 551, 528, 513]

In [151]:
myfriends.append('loki')

In [152]:
myfriends.append('chaitu')

In [154]:
myfriends.sort()#case insensitive sort
print(myfriends)

['Chaitanya', 'Paremesh', 'Purna', 'Reddy', 'Sai', 'Suresh', 'chaitu', 'loki']

In [155]:
myfriends.reverse()

In [156]:
print(myfriends)

['loki', 'chaitu', 'Suresh', 'Sai', 'Reddy', 'Purna', 'Paremesh', 'Chaitanya']

In [158]:
fri=myfriends.copy()#Copying list
print(fri)

['loki', 'chaitu', 'Suresh', 'Sai', 'Reddy', 'Purna', 'Paremesh', 'Chaitanya']

In [159]:
myfri=list(fri)#Copying list
print(myfri)

['loki', 'chaitu', 'Suresh', 'Sai', 'Reddy', 'Purna', 'Paremesh', 'Chaitanya']

## Python operators

##### 1.Arithmetic operators

In [24]:
a=10
b=5
print('addition:',a+b)
print('Subtraction:',a-b)
print('Multiplication:',a*b)
print('Devision:',a/3)
print('Modulus:',a%b)
print('Floor devision:',a//3)
print('Exponential:',a**2)

addition: 15
Subtraction: 5
Multiplication: 50
Devision: 3.3333333333333335
Modulus: 0
Floor devision: 3
Exponential: 100

#### 2.Assignment Operators

In [35]:
a=10
b=5
c=a
print(a)
a+=b
print(a)
a-=b
print(a)
a*=b
print(a)
a/=b
print(a)
a%=b
print(a)
b//=2
print(b)
c**=2
print(c)

10
15
10
50
10.0
0.0
2
100

#### 3.Comparision Operators

In [37]:
a=10
b=10.1
print(a==b)
print(a!=b)
print(a<b)
print(a>b)
print(a<=b)
print(a>=b)

False
True
True
False
True
False

#### 4.Logical Operators

In [46]:
a=10
b=20
c=30
print((a<b) and (b<c))
print((a>b) and (b<c))
print((a>b) or (b<c))
print(not((a>b) or (b<c)))
print((a>b) or not(b<c))

True
False
True
False
False

#### 5.Identity Operators

In [47]:
x=['suresh','sai']
y=['suresh','sai']
z=x
print(z is y)
print(z is not y)

False
True

#### 6.Membership Operators

In [53]:
x=['loki','sai','suresh','paramesh']
y='loki'
print(y in x)
print(y not in x)

True
False

####  7.Bitwise Operators

In [56]:
print(4&6)
print(4|6)
print(4^6)
print(4<<6)
print(256>>6)

4
6
2
256
4